<header>
  <div class="container">
    <nav>
      <img src="/assets/img/logo.svg" alt="" srcset="" />
      <div class="sections">
        <a href="#what">Что делаем</a>
        <a href="#how">Как делаем</a>
        <a href="#about">Кто мы</a>
        <a href="#cases">Кейсы</a>
      </div>
      <button>ОБСУДИТЬ</button>
    </nav>
    <div class="caption">
      <h1>Креативные digital-решения для малого бизнеса и частных клиентов</h1>
    </div>
    <img class="arrow" src="/assets/img/Arrow.svg" alt="" srcset="" />
  </div>
</header>
