@keyframes hue {
  to {
    filter: hue-rotate(1turn);
  }
}

header {
  min-height: 100vh;
  background: url("/assets/img/Background.png") no-repeat center;
  background-size: cover;
  .container {
    width: 100%;
    min-height: 100vh;
    color: white;
    // padding-top: 60px;
    padding-top: 6.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .arrow {
      //margin-top: auto;
      align-self: flex-end;
      // margin-bottom: 4vw;
      height: 75px;
      cursor: pointer;
    }
  }

  .caption {
    font-size: 5.4vw;
    margin-top: 17vh;
    font-weight: 500;
    // font-size: 105px;
    line-height: 130%;
  }
}
// @media screen and (max-width: 600px) {
//   header {
//     nav {
//       img {
//         width: 22vw;
//       }
//       .sections {
//         a {
//           font-size: 3vw;
//           margin-left: 5vw;
//         }
//       }

//       button {
//         font-size: 2vw;
//         padding: 1vw;
//         margin-left: 3.5vw;
//       }
//     }
//     .caption {
//       font-size: 5.5vw;
//       margin-top: 17vh;
//     }
//   }
// }
