.notfound {
  display: flex;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  color: white;
  height: 100vh;

  position: relative;
  .error {
    z-index: 1;
    font-size: max(12rem, 56px);
    margin-bottom: 1.8rem;
  }
  h2 {
    z-index: 1;
    font-size: max(1.8rem, 28px);
    margin-bottom: 12px;
  }
  h3 {
    z-index: 1;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 130%;
    max-width: 500px;
  }
  .back {
    animation: 20s infinite granimate;
    z-index: 1;
    color: white;
    background: none;
    font-size: 16px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: max(2.5rem, 24px);
    padding: 10px 42px;
    &:hover {
      border-color: transparent;
      background-image: linear-gradient(
        90deg,
        #b042e4,
        #2d33e4,
        #b042e4,
        #36ecd6,
        #9a23b8,
        #56e6fa
      );
      background-size: 400% 400%;
    }
  }
  .bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
