<div class="case">
  <app-nav></app-nav>
  <div class="container">
    <div class="col1 center">
      <div>
        <p>Marketing</p>
        <h1><span>Продвигаем </span>все, что движется</h1>
        <a routerLink="/brief" class="btn">Заполнить Бриф</a>
      </div>
    </div>
    <div class="col2 end">
      <div>
        <h2>
          Определим интересы целевой аудитории и поможем найти людей, которым
          нужен ваш продукт.
        </h2>
        <p>
          Наши инструменты - Google Ads, рекламный кабинет Facebook и
          маркетинговая интуиция.
        </p>
      </div>
    </div>
  </div>
</div>
