<div class="background" [style]="mobileBgStyle">
  <nav class="container">
    <a routerLink="{{ 'basicHref' | translate }}"
      ><img class="imgLogo" src="/assets/img/logo.svg" alt="" srcset=""
    /></a>
    <div class="sections">
      <a (click)="scroll('#what')">{{ "DoWhat" | translate }}</a>
      <a (click)="scroll('#how')">{{ "DoHow" | translate }}</a>
      <a (click)="scroll('#who')">{{ "WhoAre" | translate }}</a>
      <!-- <a href="#cases">{{ "Cases" | translate }}</a> -->
    </div>
    <div class="button" (click)="showPopup()">{{ "Project" | translate }}</div>
    <img
      class="imgMenu"
      src="/assets/img/Menu.png"
      alt=""
      (click)="TogleMobileMenu()"
    />
    <div id="popup" *ngIf="isPopupShown" (click)="hidePopup()">
      <form
        [formGroup]="orderForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off"
        appClickPropagationStop
      >
        <h3>{{ "Popup.title" | translate }}</h3>
        <label for="name">{{ "Popup.name.text" | translate }}</label>
        <input
          type="text"
          name="name"
          placeholder="{{ 'Popup.name.placeholder' | translate }}"
          minlength="2"
          maxlength="32"
          required
          formControlName="name"
        />
        <label for="phone">{{ "Popup.phone.text" | translate }}</label>
        <input
          type="text"
          name="phone"
          required
          placeholder="{{ 'Popup.phone.placeholder' | translate }}"
          maxlength="13"
          minlength="10"
          formControlName="phone"
          appDigitOnly
        />
        <button type="submit">
          {{ "Popup.send" | translate }}
        </button>
      </form>
    </div>
    <div
      class="success"
      *ngIf="popupsSuccess"
      (click)="this.popupsSuccess = false"
    >
      <div class="message" appClickPropagationStop>
        <span class="text"> {{ "success.text" | translate }}</span>
        <button (click)="this.popupsSuccess = false">
          {{ "success.send" | translate }}
        </button>
      </div>
    </div>
  </nav>
  <div
    class="mobileMenu container"
    [style]="mobileMenuStyle"
    (click)="TogleMobileMenu()"
  >
    <div class="links">
      <div class="link row">
        <a href="#what">{{ "DoWhat" | translate }}</a>
        <div class="langs">
          <a routerLink="/ru" (click)="switchRu()">Рус/</a>
          <a routerLink="/ua" (click)="switchUa()">Укр</a>
        </div>
      </div>
      <div class="link">
        <a href="#how">{{ "DoHow" | translate }}</a>
      </div>
      <div class="link">
        <a href="#who">{{ "WhoAre" | translate }}</a>
      </div>
      <div class="link">
        <a href="#form">{{ "Contacts" | translate }}</a>
      </div>
    </div>
    <div class="bottom">
      <div class="phone"><a href="tel:+380508494970">+380 50 849-49-70</a></div>
      <div class="email">katrukdesign@gmail.com</div>
    </div>
  </div>
</div>
