.background {
  min-height: 0;
  .mobileMenu {
    width: 100%;
    height: 89vh;
    display: none;
    flex-direction: column;
    .links {
      margin-top: 10rem;
      font-size: 6.4rem;
      .row {
        display: flex;
        align-self: center;
        justify-content: space-between;
      }
      .link {
        margin-bottom: 4rem;
      }
    }
    .bottom {
      margin-top: auto;
      margin-bottom: 15rem;
    }
    .phone,
    .email {
      font-size: 4.8rem;
      margin-bottom: 4rem;
    }
    .langs {
      display: flex;
      align-items: center;
      font-size: 3.8rem;
      color: #a3a3a3;
    }
  }
}
nav {
  width: 100vw;
  display: flex;
  align-items: center;
  padding-top: 6vh;
  .imgLogo {
    // width: 18.5rem;
    height: 25px;
  }
  .sections {
    margin-left: auto;
    display: flex;
    a {
      height: 1.3rem;
      overflow: hidden;
      cursor: pointer;
      font-weight: 500;
      font-size: max(1.2rem, 12px);
      line-height: 130%;
      margin-left: 2.4rem;
      &:hover {
        .scroller {
          transform: translateY(-50%);
        }
      }
      .scroller {
        transition: 0.3s;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .button {
    cursor: pointer;
    &:hover {
      border-color: transparent;
      background-image: linear-gradient(
        90deg,
        #b042e4,
        #2d33e4,
        #b042e4,
        #36ecd6,
        #9a23b8,
        #56e6fa
      );
      background-size: 400% 400%;
    }
    background: none;
    color: white;
    font-size: max(1.1rem, 12px);
    line-height: 130%;
    letter-spacing: 0.02em;
    border: 0.15rem solid #fff;
    border-radius: 50px;
    padding: 0.7rem 2.6rem;
    margin-left: 3.5rem;
    animation: 20s infinite granimate;
  }
  #popup {
    z-index: 999;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    height: 100vh;
    background: #252525c4;
    display: flex;
    overflow: auto;
    form {
      margin: auto;
      width: 35%;
      padding: 3rem 4.8rem;
      background: #252525;
      border: 4px solid #ffffff;
      box-sizing: border-box;
      border-radius: 2.5rem;
      display: flex;
      flex-direction: column;
      h3 {
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 130%;
        text-align: center;
        margin-bottom: 1rem;
      }
      input {
        font-size: 1.3rem;
        background: none;
        border: 0.26rem solid #fff;
        box-sizing: border-box;
        border-radius: 2.5rem;
        padding: 1rem 2.5rem;
        margin-bottom: 1.5rem;
        color: white;
      }
      input:focus::placeholder {
        color: transparent;
      }
      input::placeholder {
        color: white;
      }
      label {
        font-size: 1.3rem;
        margin-bottom: 16px;
      }
      button {
        transition: 0.4s;
        background: white;
        color: black;
        font-size: 1.8rem;
        padding: 1.2rem 6rem;
        border-radius: 5rem;
        margin-top: 2rem;
        &:hover {
          background: linear-gradient(
            180deg,
            rgba(158, 0, 255, 0.7) 0%,
            #4cd4ff 100%
          );
        }
      }
    }
  }
  .imgMenu {
    display: none;
  }
}
@media screen and(max-width:856px) {
  nav {
    justify-content: space-between;

    .imgLogo {
      width: 40.5rem;
    }
    .sections {
      display: none;
    }
    .button {
      display: none;
    }
    #popup {
      form {
        padding: 6rem 6.8rem;
        width: 80%;
        background: #252525;
        border: 2px solid #ffffff;
        h3 {
          font-size: 4.6rem;
        }
        input {
          font-size: 3.3rem;
          margin-bottom: 2.5rem;
          padding: 2.2rem 2.5rem;
        }
        label {
          font-size: 3.3rem;
          margin-bottom: 1.5rem;
        }
        button {
          font-size: 3.8rem;
          padding: 2.2rem 6rem;
        }
      }
    }
    .imgMenu {
      display: block;
    }
  }
}
