@media screen and(max-width:856px) {
  #what {
    .cards {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      a:first-of-type {
        margin-right: 0;
      }
    }
    .card {
      margin-bottom: 24px;
    }
  }

  #cases {
    h2 {
      font-size: 5.1rem;
    }
  }
  #who {
    h2 {
      font-size: 4.7rem;
    }
  }
  #form {
    form {
      width: 80%;
      label {
        font-size: 3.8rem;
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 8rem;
        line-height: 140%;
      }
      input {
        font-size: 3.8rem;
        border-radius: 4.5rem;
        padding: 3.6rem 5rem;
        margin-bottom: 5rem;
      }
      button {
        font-size: 3.8rem;
        padding: 3.6rem 10rem;
      }
    }
  }
  footer {
    .container {
      align-items: center;
      .row {
        flex-direction: column;
        align-items: flex-start;

        .email {
          font-size: 4.2rem;
        }
        .lang {
          display: none;
        }
        .terms {
          font-size: 2.2rem;
        }
        .phone {
          font-size: 2.8rem;
        }
        .socials {
          margin-bottom: 4rem;
          span {
            svg {
              width: 6.7rem;
            }
          }
        }
        .col {
          order: 2;
        }
      }
      .logo {
        img {
          height: 20rem;
        }
      }
    }
  }
}
