@media screen and(max-width:856px) {
  #what {
    .cards {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      a:first-of-type {
        margin-right: 0;
      }
    }
    .card {
      margin-bottom: 24px;
    }
  }
  .arrow {
    .curtains {
      display: none;
    }
  }
  #who {
    .line {
      flex-direction: column;
      align-items: center;
      margin-bottom: 84px;
      .row {
        .whoImg {
          width: 223px;
        }

        .info {
          margin-left: 0;
          div {
            text-align: center;
          }
          span {
          }
        }
      }
    }
  }

  footer {
    .container {
      display: flex;
      .footerLogoImg {
        display: block;
      }
    }
    .footer {
      flex-direction: column-reverse;

      .socials {
        margin-bottom: 15px;
      }
      .col {
        .email {
          margin-bottom: 13px;
        }
        .phone {
          margin-bottom: 17px;
        }
        .contact {
          display: none;
        }
        .footerLogo {
          display: none;
        }
        .lang {
          display: none;
        }
      }
    }
  }
}
