<app-header></app-header>
<div class="container">
  <section id="what">
    <h2>
      <pre>
{{"What.h2.part1"|translate}} <span>{{"What.h2.part2"|translate}}</span>
              {{"What.h2.part3"|translate}} <span>{{"What.h2.part4"|translate}}</span>
      </pre>
    </h2>
    <div class="cards">
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>{{ "What.card1.h2" | translate }}</h2>
        <p>
          {{ "What.card1.p" | translate }}
        </p>
        <div class="info">
          <span class="terms">{{ "What.card1.terms" | translate }}</span>
          <span class="price">{{ "What.card1.price" | translate }}</span>
        </div>
      </div>
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>{{ "What.card2.h2" | translate }}</h2>
        <p>
          {{ "What.card2.p" | translate }}
        </p>
        <div class="info">
          <span class="terms">{{ "What.card2.terms" | translate }}</span>
          <span class="price">{{ "What.card2.price" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="cards">
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>{{ "What.card3.h2" | translate }}</h2>
        <p>
          {{ "What.card3.p" | translate }}
        </p>
        <div class="info">
          <span class="terms">{{ "What.card3.terms" | translate }}</span>
          <span class="price">{{ "What.card3.price" | translate }}</span>
        </div>
      </div>
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>{{ "What.card4.h2" | translate }}</h2>
        <p>
          {{ "What.card4.p" | translate }}
        </p>
        <div class="info">
          <span class="terms">{{ "What.card4.terms" | translate }}</span>
          <span class="price"
            >$500
            <span style="color: white">{{
              "What.card4.price" | translate
            }}</span></span
          >
        </div>
      </div>
    </div>
  </section>

  <section id="how">
    <h2>
      <pre>
{{"How.h2.part1"|translate}} <span>{{"How.h2.part2"|translate}}</span>
                      {{"How.h2.part3"|translate}} <span>{{"How.h2.part4"|translate}}</span>
      </pre>
    </h2>
    <div class="steps">
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>{{ "How.step1.h3" | translate }}</h3>
          <img src="/assets/img/step1.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
            {{ "How.step1.description.line1" | translate }}
            {{ "How.step1.description.line2" | translate }}</pre
          >
        </div>
        <div class="arrow right">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector1.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>
            <pre>         {{ "How.step2.h3" | translate }} </pre>
          </h3>
          <img src="/assets/img/step2.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
            {{ "How.step2.description.line1" | translate }}
                    {{ "How.step2.description.line2" | translate }}</pre
          >
        </div>
        <div class="arrow">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector2.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>
            <pre>         {{ "How.step3.h3" | translate }}</pre>
          </h3>
          <img src="/assets/img/step3.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
                  {{ "How.step3.description.line1" | translate }}
                  {{ "How.step3.description.line2" | translate }}</pre
          >
        </div>
        <div class="arrow right">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector3.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>
            <pre>     {{ "How.step4.h3" | translate }}</pre>
          </h3>
          <img src="/assets/img/step4.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
            {{ "How.step4.description.line1" | translate }}
            {{ "How.step4.description.line2" | translate }}</pre
          >
        </div>
        <div class="arrow">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector4.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>
            <pre>       {{ "How.step5.h3" | translate }}</pre>
          </h3>
          <img src="/assets/img/step5.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
            {{ "How.step5.description.line1" | translate }}
            {{ "How.step5.description.line2" | translate }}</pre
          >
        </div>
      </div>
    </div>
  </section>

  <section id="who">
    <h2>
      <pre>
{{"Who.h2.part1"|translate}} <span>{{"Who.h2.part2"|translate}}</span> {{"Who.h2.part3"|translate}}
{{"Who.h2.part4"|translate}} 
      </pre>
    </h2>

    <div class="row">
      <img class="whoImg blueFilter" src="/assets/img/dn.png" alt="" />
      <div class="info">
        <div>Даня</div>
        <span>Project Manager</span>
      </div>
    </div>

    <div class="row">
      <div class="info">
        <div>Даша</div>
        <span>UI/UX Designer</span>
      </div>
      <img class="whoImg pinkFilter" src="/assets/img/dsh.png" alt="" />
    </div>
    <div class="row">
      <img class="whoImg blueFilter" src="/assets/img/zh.png" alt="" />
      <div class="info">
        <div>{{ "Who.Zhenia" | translate }}</div>
        <span>Frontend Developer</span>
      </div>
    </div>
  </section>
</div>

<div class="inst">
  <div class="text">
    <div class="container">
      {{ "inst" | translate }}
      <a href="https://www.instagram.com/katrukdesign/">@katrukdesign</a
      ><span><img src="/assets/img/instagram.svg" alt="" /></span>
    </div>
  </div>
</div>
<div id="form">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <h3>{{ "Popup.title" | translate }}</h3>
    <label for="name">{{ "Popup.name.text" | translate }}</label>
    <input
      type="text"
      name="name"
      placeholder="{{ 'Popup.name.placeholder' | translate }}"
      minlength="2"
      maxlength="32"
      required
      formControlName="name"
    />
    <label for="phone">{{ "Popup.phone.text" | translate }}</label>
    <input
      type="text"
      name="phone"
      placeholder="{{ 'Popup.phone.placeholder' | translate }}"
      value="+380"
      maxlength="13"
      minlength="10"
      formControlName="phone"
      appDigitOnly
    />
    <button class="mousehold" type="submit">
      {{ "Popup.send" | translate }}
    </button>
  </form>
</div>

<footer>
  <div class="container">
    <div class="info">
      <div class="row">
        <span class="email">katrukdesign@gmail.com</span>
        <span class="phone">
          <a href="tel:+380508494970">+380 50 849-49-70</a>
        </span>
      </div>
      <div class="row">
        <div class="col">
          <span class="lang">
            <a routerLink="/ru" (click)="switchRu()">Рус/</a>
            <a routerLink="/ua" (click)="switchUa()">Укр</a>
          </span>
          <span class="terms">
            <span>© 2021</span>
            <a [routerLink]="termsLink">{{ "Terms" | translate }}</a>
          </span>
        </div>
        <div class="socials">
          <span
            ><a href="https://telegram.me/cashismyhustle"
              ><img src="/assets/img/telegram.svg" alt="" /></a
          ></span>
          <span
            ><a href="https://www.instagram.com/katrukdesign/"
              ><img src="/assets/img/insticon.svg" alt="" /></a
          ></span>
          <span>
            <a href="viber://chat?number=380508494970">
              <img src="/assets/img/viber.svg" alt="" />
            </a>
          </span>
        </div>
      </div>
    </div>
    <div class="logo"><img src="/assets/img/singlelogo.svg" alt="" /></div>
  </div>
</footer>
