<app-header></app-header>
<div class="container">
  <section id="what">
    <h2>
      <pre>
Совмещаем ваши <span>идеи</span>
                            с нашей <span>реализацией</span>
      </pre>
    </h2>
    <div class="cards">
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>Лендинг</h2>
        <p>
          Одностраничный динамичный сайт, который увеличит продажи и конверсию в
          кратчайшие сроки.
        </p>
        <div class="info">
          <span class="terms">21 день</span>
          <span class="price">от $500</span>
        </div>
      </div>
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-delay="200"
        data-aos-once="true"
        data-aos-duration="1000"
      >
        <h2>Бизнес-сайт</h2>
        <p>
          Представление компании в Интернете. Поможет сохранить лояльных
          клиентов, а не просто посетителей.
        </p>
        <div class="info">
          <span class="terms">1 месяц</span>
          <span class="price">от $1000</span>
        </div>
      </div>
    </div>
    <div class="cards">
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>Интернет-магазин</h2>
        <p>
          Многофункциональный сайт с удобной навигацией. Повысит узнаваемость
          бренда и упростит обработку заказов
        </p>
        <div class="info">
          <span class="terms">1,5 месяца</span>
          <span class="price">от $1500</span>
        </div>
      </div>
      <div
        class="card"
        data-aos="zoom-in-up"
        data-aos-delay="200"
        data-aos-duration="1000"
        data-aos-once="true"
      >
        <h2>Маркетинг</h2>
        <p>
          Запуск рекламных кампаний с учетом особенностей бизнеса. Включает
          создание уникальных креативов.
        </p>
        <div class="info">
          <span class="terms"></span>
          <span class="price"
            >$500<span style="color: white"> / месяц</span></span
          >
        </div>
      </div>
    </div>
  </section>

  <section id="how">
    <h2>
      <pre>
Нам важен как<span> путь </span>
                          так и <span> результат</span></pre>
    </h2>
    <div class="steps">
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3>Интервью и Бриф</h3>
          <img src="/assets/img/step1.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
      Обсуждаем проект и выявляем потребности
      клиентов. Слушаем ваши идеи и беремся за дело</pre
          >
        </div>
        <div class="arrow right">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector1.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3><pre>         UX- прототип </pre></h3>
          <img src="/assets/img/step2.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
                  Создаем структуру сайта. Рисуем блоки
                  и страницы, наполняем макет контентом</pre
          >
        </div>
        <div class="arrow">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector2.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3><pre>         Сочный дизайн</pre></h3>
          <img src="/assets/img/step3.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
                На этом этапе придумываем продающий
                дизайн исходя из особенностей бизнеса</pre
          >
        </div>
        <div class="arrow right">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector3.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3><pre>     Программирование</pre></h3>
          <img src="/assets/img/step4.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
            Верстаем и программируем сайт, а так же
            тестируем его на работоспособность</pre
          >
        </div>
        <div class="arrow">
          <div class="curtains"><div class="bg"></div></div>
          <img src="/assets/img/vector4.svg" alt="" srcset="" />
        </div>
      </div>
      <div
        class="step"
        data-aos="fade-up"
        data-aos-offset="50"
        data-aos-once="true"
      >
        <div class="title">
          <h3><pre>       Продвижение</pre></h3>
          <img src="/assets/img/step5.svg" alt="" srcset="" />
        </div>
        <div class="description">
          <pre>
              Оптимизируем сайт для Google чтобы
              потенциальные клиенты могли вас найти</pre
          >
        </div>
      </div>
    </div>
  </section>

  <section id="who">
    <h2>
      <pre>
Мы те, кто находит <span>идеальный</span> баланс
между дизайном и технологиями 
      </pre>
    </h2>
    <div class="row">
      <div class="triang who1"></div>
      <div class="info">
        <div>Даня</div>
        <span>Project Manager</span>
      </div>
    </div>
    <div class="row">
      <div class="info">
        <div>Даша</div>
        <span>UI/UX Designer</span>
      </div>
      <div class="triang who2"></div>
    </div>
    <div class="row">
      <div class="triang who3"></div>
      <div class="info">
        <div>Жэка</div>
        <span>Frontend Developer</span>
      </div>
    </div>
    <!-- <div class="row">
      <img src="/assets/img/group3.png" alt="" />
      <div class="info">
        <div>Жэка</div>
        <span>Frontend Developer</span>
      </div>
    </div> -->
  </section>
</div>

<div class="inst">
  <div class="text">
    <div class="container">
      Мы активно ведем инстаграм и советуем вам подписаться
      <a href="https://www.instagram.com/katrukdesign/">@katrukdesign</a
      ><span><img src="/assets/img/instagram.svg" alt="" /></span>
    </div>
  </div>
</div>
<div id="form">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <h3>Готовы обсудить свой проект?</h3>
    <label for="name">Имя</label>
    <input
      type="text"
      name="name"
      placeholder="Артемий"
      minlength="2"
      maxlength="32"
      required
      formControlName="name"
    />
    <label for="phone">Куда звонить</label>
    <input
      type="text"
      name="phone"
      placeholder="+380"
      value="+380"
      maxlength="13"
      minlength="10"
      formControlName="phone"
      appDigitOnly
    />
    <button type="submit" [disabled]="!orderForm.valid">ОТПРАВИТЬ</button>
  </form>
</div>

<footer>
  <div class="container">
    <div class="col1">
      <span class="email">katrukdesign@gmail.com</span>
      <span class="lang">
        <a href="">Рус/</a>
        <a href="">Укр/</a>
        <a href="">Eng</a>
      </span>
      <span class="terms">
        <span>© 2021</span>
        <a routerLink="/terms">Угода користувача</a>
      </span>
    </div>
    <div class="col2">
      <span class="phone">
        <a href="tel:+380508494970">+380 50 849-49-70</a>
      </span>
      <div class="socials">
        <span
          ><a href="https://telegram.me/cashismyhustle"
            ><img src="/assets/img/telegram.svg" alt="" /></a
        ></span>
        <span
          ><a href="https://www.instagram.com/katrukdesign/"
            ><img src="/assets/img/insticon.svg" alt="" /></a
        ></span>
        <span>
          <a href="viber://chat?number=380508494970">
            <img src="/assets/img/viber.svg" alt="" />
          </a>
        </span>
      </div>
    </div>
    <div class="logo"><img src="/assets/img/singlelogo.svg" alt="" /></div>
  </div>
</footer>
