section {
  margin-top: 7vw;
  h2 {
    color: white;
    font-size: 4vw;

    line-height: 140%;

    span {
      color: #4cd4ff;
      font-style: italic;
    }
  }
}
#what {
  .cards {
    display: flex;
    margin-bottom: 35px;
    .card:first-of-type {
      margin-right: 35px;
    }
  }
  .card {
    // flex-grow: 1;
    flex: 1 0 0;
    // padding: 65px 45px;
    padding: 3.2vw 2.2vw;
    border: 4px solid #ffffff;
    box-sizing: border-box;
    // border-radius: 50px;
    border-radius: 2.6vw;
    color: white;
    h2 {
      margin-bottom: 3.6vw;
      font-size: 3.2vw;

      line-height: 130%;
    }
    p {
      font-size: 1.7vw;
      margin-bottom: 3.4vw;
      line-height: 150%;
      font-weight: 500;
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .terms {
        font-weight: 500;
        // font-size: 34px;
        font-size: 1.8vw;
        line-height: 150%;
      }
      .price {
        color: #91f355;
        // font-size: 48px;
        font-size: 2.5vw;
        line-height: 150%;
      }
    }
  }
}
#how {
  h2 {
    margin-bottom: 6vw;
  }
  .aos-animate {
    .curtains {
      padding-top: 12vw !important;
    }
  }
  .step {
    margin-bottom: 1.8vw;
    .title {
      margin-bottom: 4.1vw;
      display: flex;
      align-items: center;
      h3 {
        font-size: 3.3vw;
        margin-right: 3.3vw;
      }
      img {
        width: 3.5vw;
      }
    }
    .description {
      font-size: 2.4vw;
      line-height: 140%;
    }
    .right {
      flex-direction: row-reverse;
    }

    .curtains {
      position: absolute;
      height: 12vw;
      transition: 1.8s;
      width: 140px;
      .bg {
        width: 100%;
        height: 100%;
        background: #252525;
      }
    }
    .arrow {
      display: flex;
      img {
        height: 12vw;
      }
    }
  }
}
#who {
  .row {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    img {
      width: 48vw;
      // height: 48vw;
      transition: 0.3s;
    }
    img:hover {
      width: 50vw;
      filter: drop-shadow(0 0 247px #3137f8);
    }
    .info {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      div {
        font-size: 4.5vw;
      }
      span {
        margin-top: 2vw;
        font-size: 3.2vw;
        color: #4cd4ff;
      }
    }
  }
}
#form {
  background: linear-gradient(180deg, #9e00ff 0%, #7765ff 47.71%, #4cd4ff 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
  form {
    max-width: 775px;
    width: 40%;
    display: flex;
    flex-direction: column;
    label {
      font-size: 2vw;
      margin-bottom: 1vw;
    }
    h3 {
      text-align: center;
      font-size: 4vw;
      line-height: 6vw;
      margin-bottom: 5vw;
    }
    input {
      font-size: 2vw;
      background: none;
      border: 5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 2.5vw;
      padding: 1.8vw 2.5vw;
      margin-bottom: 1.5vw;
      color: white;
    }
    input::placeholder {
      color: white;
    }
    button {
      font-size: 2.5vw;
      padding: 2.2vw 10vw;
      background: #252525;
      border-radius: 5vw;
      color: white;
      margin-top: 2vw;
    }
  }
}
.inst {
  padding: 5.5vw 0;
  // background: url("/assets/img/instbg.svg") no-repeat center;
  // background-size: cover;
  background: url(/assets/img/instbg.svg) no-repeat;
  background-position: center;
  background-size: 100%;
  .container {
    padding: 0 12vw;
  }
  .text {
    border-radius: 1.4vw;
    font-weight: 500;
    line-height: 6vw;
    background-color: white;
    color: black;
    font-size: 3.3vw;
    padding: 5.8vw 0;
    a {
      color: #454ada;
      font-size: 4vw;
    }
    span img {
      width: 5.8vw;
    }

    // padding: 5vw 10vw;
    // font-size: 3.3vw;
    // padding: 14vw 13vw;
  }
}
footer {
  padding: 5vw 0;
  .container {
    display: flex;
    .col1,
    .col2 {
      display: flex;
      flex-direction: column;
    }
    .col1 {
      margin-right: 6vw;
      .email {
        font-size: 2.5vw;
        margin-bottom: 3.5vw;
      }
      .lang {
        font-size: 24px;
        margin-bottom: 2vw;
      }
      .terms {
        font-weight: normal;
        font-size: 18px;
        span {
          margin-right: 1vw;
        }
      }
    }
    .col2 {
      .phone {
        font-size: 2.5vw;
        margin-bottom: 2.8vw;
      }
      .socials {
        span {
          margin-right: 1vw;
          img {
            width: 2.5vw;
          }
        }
      }
    }
    .logo {
      margin-left: 9vw;
      img {
        height: 11vw;
      }
    }
  }
}
