.case {
  height: 100vh;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 80%;
  }
  .btn {
    color: #252525;
    font-size: max(1rem, 10px);
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #252525;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    padding: max(0.9rem, 10px) max(2rem, 28px);
  }
  .center {
    align-self: center;
  }
  .end {
    align-self: flex-end;
  }
  .col1 {
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }
    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: max(3.75rem, 36px);
      line-height: max(4.5rem, 36px);
      margin-top: max(4rem, 32px);
      margin-bottom: max(3rem, 40px);
      span {
        color: #4cd4ff;
      }
    }
  }
  .col2 {
    h2 {
      font-weight: normal;
      font-size: max(1.25rem, 16px);
      line-height: 140%;
      font-style: normal;
      font-weight: normal;
      margin-bottom: max(3.7rem, 32px);
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: max(1.25rem, 16px);
      line-height: 140%;
      color: #b8b8b8;
      width: 70%;
    }
  }
}
