<app-nav></app-nav>
<div class="container">
  <h1>Пользовательское соглашение</h1>
  <div class="text">
    Настоящее Пользовательское Соглашение (Далее «Соглашение») регулирует
    отношения касательно использования сайта между владельцами сайта
    katrukdesign.com (далее «Администрация сайта») с одной стороны и физического
    или юридического лица с другой.<br /><br />
    Предметом соглашения является предоставление Администрацией сайта
    Пользователю услуг по использованию сайта (далее — Услуги). Используя сайт,
    вы заведомо соглашаетесь с условиями этого Соглашения.<br /><br />
    Настоящее Соглашение вступает в силу с момента начала использования Сайта
    и действует на протяжении неопределённого периода времени, регулируется
    и толкуется согласно законодательства Украины.<br /><br />

    Заключать данное Соглашение имеют право лица, достигшие 18 лет.<br /><br />
    Все объекты, что размещены на сайте, включая элементы дизайна, текст,
    графические изображения и иллюстрации являются собственностью Администрации
    Сайта. Администрация в свою очередь даёт право Пользователю на использование
    сайта в рамках этого Соглашения.<br /><br />
    Использование сайта с целью копирования и/или распространения элементов
    дизайна и контента, что находятся на сайте, строго запрещено.<br /><br />
    Пользователь не имеет права воспроизводить, продавать или использовать
    в коммерческих целях любую из частей сайта, кроме тех случаев, когда
    Пользователь получил письменное разрешение от Администрации Сайта.<br /><br />
  </div>
  <h2>Политика Конфиденциальности</h2>
  <div class="text">
    1) Эта Политика является неотъемлемой частью Пользовательского
    Соглашения.<br /><br />
    2)Политика Конфиденциальности распространяется
    на все данные,что пользователь может предоставить во время использования
    сайта.<br /><br />
    3)При использовании сайта, Пользователь даёт полное согласие на обработку
    Персональных Данных, а именно: фамилия имя отчество; дата рождения;
    контактный номер телефона, адрес электронной почты а также другие
    Персональные Данные, что могут быть использованы для идентификации Лица.<br /><br />
    4)Далее Лицо становится Пользователем и даёт разрешение на следующие способы
    обработки Персональной Информации: сбор, запись, систематизация, хранение,
    уточнение (обновление и изменение, изъятие, использование, передачу
    и распространение, обезличивание, блокирование, удаление с использование
    средств автоматизации или без таковых по усмотрению Администрации.<br /><br />
    5) Данные Пользователя могут использоваться в следующих —  Предоставление
    Пользователю доступ к ресурсам Сайта —  Установление с Пользователем
    обратной связи, включая телефонный звонок, отправка сообщений касательно
    Услуг компании и прочее —  Осуществление рекламной деятельности Сайта. — 
    Определение местоположения Пользователя с целью предотвращения
    мошенничества.<br /><br />
    6) Данный сайт может использовать технологию, известную как cookie-файл.
    Cookie-файлы увеличивают работоспособность сайта и помогают
    нам анализировать использование сайта с большей точностью.<br /><br />
    7) Пользователь согласен с тем, что Администрация сайта не несёт
    ответственности и не имеет прямых или косвенных обязательств
    перед Пользователем связи с любыми возможными или случившимися потерями
    и убытками, связанными с любым содержанием сайта, регистрацией авторских
    прав и ведомостями про такую регистрацию, товарами или услугами, доступными
    или полученными через внешние сайты или ресурсы или другие контакты
    Пользователя, в которые он вступил, используя размещённую на сайте
    информацию или ссылки на внешние ресурсы.
  </div>
  <h2>Права и обязанности сторон</h2>
  <div class="text">
    Пользователь имеет право:<br /><br />
    —  Получать информацию на Сайте <br />
    —  Делиться информацией с сайта в социальных сетях с указанием ссылки
    на первоисточник Администрация имеет право:<br />
    —  По своему усмотрению и при необходимости создавать, изменять и отменять
    правила<br />
    —  Ограничивать доступ к любой информации на Сайте — Создавать, изменять,
    дополнять и удалять информацию, распоряжаться статистической информа- цией,
    связанной с работой Сайта<br />
    — Вносить изменения в настоящее Соглашение без согласия и уведомления
    Пользователя Пользователь Обязуется:<br />
    —  Предоставить информацию про Персональные Данные, необходимые
    для использования Сайта <br />
    —  В случае заключения Договора с Администрацией, обновить или дополнить
    информацию о Персональных Данных при необходимости<br />
    —  Не нарушать работоспособность Сайта<br />
    — Не использовать скрипты (программы) для автоматизированного сбора
    информации и/или взаимодействия с сайтом и его Сервисами<br />
    —  Уважать авторское право касательно субъектов этого права на Сайте <br />
    Администрация Обязуется:<br /><br />
    —  Не нарушать работоспособность Сайта<br />
    — Использовать полученную от Пользователя исключительно в целях,
    предусмотренных этим Соглашением<br />
    — Обеспечить надёжное сбережение конфиденциальной информации, не разглашать
    её а также не осуществлять обмен/продажу/публикацию
  </div>
  <h2>Ответственность сторон</h2>
  <div class="text">
    Администрация не несет ответственности за разбежность ожиданий Пользователя
    и реально полученных услуг. Администрация не несет никакой ответственности
    за услуги, что предоставляются третьими лицами.
  </div>
  <h2>Заключительное Положение</h2>
  <div class="text">
    Настоящее Соглашение регулируется действующим законодательством Украины.
    Вопросы, что не были рассмотрены в настоящем Соглашении, подлежат разрешению
    согласно действующего законодательства. Временное бездействие со стороны
    Администрации сайта не лишает права принять соответствующие меры позже,
    а также не означает, что Администрация сайта отказалась от своих прав
    в случае совершения подобных нарушений в будущем. Признание любого положения
    Соглашения недействительным или таковым, что не является обязательным
    к исполнению, не влечёт недействительности иных положений. Все противоречия,
    что возникли в связи с Соглашением, подлежат рассмотрению в суде по месту
    нахождения Администрации сайта согласно с действующим законодательством
    Украины.
  </div>

  <a routerLink="/" class="back">
    <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15.7917 7.4584H4.15625L9.23958 2.37507C9.64583 1.96882 9.64583 1.30215 9.23958 0.895905C8.83333 0.489655 8.17708 0.489655 7.77083 0.895905L0.90625 7.76049C0.5 8.16674 0.5 8.82299 0.90625 9.22924L7.77083 16.0938C8.17708 16.5001 8.83333 16.5001 9.23958 16.0938C9.64583 15.6876 9.64583 15.0313 9.23958 14.6251L4.15625 9.54174H15.7917C16.3646 9.54174 16.8333 9.07299 16.8333 8.50007C16.8333 7.92715 16.3646 7.4584 15.7917 7.4584Z"
        fill="#ffffff"
      />
    </svg>
    Вернуться на главную</a
  >
  <footer>
    <img src="/assets/img/logo.svg" alt="" />
    <div><span>© 2021</span><span>Пользовательское соглашение</span></div>
  </footer>
</div>
