.termsContainer {
  padding-top: 5rem;
  font-style: normal;
  font-weight: 500;
  .wrap {
    width: 70%;
    min-width: 280px;
    margin: 0 auto;
  }
  h1 {
    font-size: max(1.82rem, 20px);
    margin-bottom: 17px;
  }
  .text {
    font-size: max(0.834rem, 12px);
    margin-bottom: 30px;
    line-height: 130%;
    font-weight: normal;
  }
  h2 {
    font-size: max(1.25rem, 18px);
    margin-bottom: 17px;
  }
  .back {
    display: flex;
    align-items: center;
    font-size: max(0.8rem, 14px);
    margin-bottom: 49px;
    text-transform: uppercase;
    font-weight: normal;

    svg {
      width: 1.6rem;
      min-width: 24px;
      color: white;
      margin-right: 16px;
    }
  }
}
