<app-nav></app-nav>
<div class="container">
  <h1>Угода користувача</h1>
  <div class="text">
    Ця Угода Користувача (Далі «Угода») регулює відносини стосовно використання
    сайту між власником веб сайту katrukdesign.com(далі «Адміністрація сайту») з
    одного боку і фізичною або юридичною особою з іншого.<br /><br />
    Предметом Угоди є надання Адміністрацією сайту Користувачеві послуг з
    використанням сайту (далі - Послуги). Використовуючи сайт, Ви безперечно
    погоджуєтеся з умовами цієї Угоди.<br /><br />
    Ця Угода вступає в силу з моменту початку використання сайту і діє протягом
    невизначеного терміну, регулюється і тлумачиться відповідно до законодавства
    України.<br /><br />

    Укладати цю Угоду мають право особи старше 18 років.<br /><br />
    Всі об'єкти що розміщені на Сайті, у тому числі елементи дизайну, текст,
    графічні зображення та ілюстрації є власністю Адміністрації Сайту.
    Адміністрація в свою чергу надає Користувачу право на його використання в
    рамках цієї Угоди.<br /><br />
    Використання сайту з метою копіювання та/або розповсюдження елементів
    дизайну та контенту, що розміщений на Сайті, суворо заборонено.<br /><br />
    Користувач не має право відтворювати, продавати або використовувати в
    комерційних цілях будь-яку з частин сайту, крім тих випадків, коли
    Користувач отримав письмовий дозвіл від Адміністрації Сайту.<br /><br />
  </div>
  <h2>Політика Конфіденційності</h2>
  <div class="text">
    1) Ця Політика є невід'ємною частиною Угоди Користувача.<br /><br />
    2)Політика Конфіденційності розповсюджується на всі дані, що Користувач може
    надати під час користування Сайтом.<br /><br />
    3)Особа дає згоду на обробку своїх Персональних Даних, а саме: прізвище ім'я
    по-батькові; дата народження: контактний номер телефону, адреса електронної
    пошти а також інші Персональні Дані, які можуть використовуватись для
    ідентифікації Особи.<br /><br />
    4)Далі Особа стає Користувачем і дає дозвіл на наступні способи обробки
    обробки Персональної Інформації: збір запис, систематизація, зберігання,
    уточнення (оновлення і зміна), витяг, використання, передачу та
    розповсюдження, знеособлення, блокування, видалення з використанням засобів
    автоматизації або без таких за розсудом Адміністрації.<br /><br />
    5) Дані Користувача можуть використовуватись у наступних цілях:<br />
    —  Надання Користувачу доступу до ресурсів Сайту.<br />
    —  Встановлення з Користувачем зворотній зв'язок, включаючи телефонний
    дзвінок, відправку повідомлень стосовно Послуг компанії та інше.<br />
    —  Здійснення рекламної діяльності Сайту.<br />
    —  Визначення місце розташування Користувача з метою запобігання
    шахрайства.<br /><br />
    6) Даний сайт може використовувати технологію, відому як cookie-файл.
    Cookie-файли підвищують працездатність сайту і допомагають нам аналізувати
    використання сайту з більшою точністю.<br /><br />
    7) Користувач згоден з тим, що Адміністрація сайту не несе відповідальності
    і не має прямих або непрямих зобов'язань перед Користувачем у зв'язку з
    будь-якими можливими або виниклими втратами і збитками, пов'язаними з
    будь-яким вмістом сайту, реєстрацією авторських прав і відомостями про таку
    реєстрацію, товарами або послугами, доступними на або отриманими через
    зовнішні сайти або ресурси або інші контакти Користувача, в які він вступив,
    використовуючи розміщену на Сайті інформацію або посилання на зовнішні
    ресурси.
  </div>
  <h2>Права та обов’язки сторін</h2>
  <div class="text">
    Користувач має право:<br /><br />
    —  Отримувати інформацію на Сайті <br />
    —  Ділитися інформацію з сайту у соціальних мерёжах з посиланням на
    першоджерело<br />
    Адміністрація має право:<br />
    —  На свій розсуд і за необхідності створювати, змінювати, скасовувати
    правила<br />
    —  Обмежувати доступ до будь-якої інформації на Сайті <br />
    — Створювати, змінювати, доповнювати та видаляти інформацію, а також
    розпоряджатися статистичною інформацією, пов'язаною з функціонуванням
    Сайту<br />
    — Вносити зміни до даної Угоди без згоди і повідомлення Користувача<br /><br />
    Користувач зобов’язується:<br />
    —  Надати інформацію про Персональні Дані що необхідна для користування
    Сайтом <br />
    —  У випадку укладення Договору з Адміністрацією, оновити чи доповнити
    інформацію про Персональні Дані за необхідності<br />
    —  Не порушувати працездатність сайту<br />
    —  Не використовувати скрипти (програми) для автоматизованого збору
    інформації та/або взаємодії з сайтом і його Сервісами<br />
    —  Шанувати авторське право щодо суб'єктів такого права на Сайті
    <br /><br />
    Адміністрація зобов'язується:<br /><br />
    — Не порушувати працездатність сайту<br />
    — Використовувати отриману від користувача інформацію виключно в цілях,
    передбачених цією Угодою<br />
    — Забезпечити надійне збереження конфіденційної інформації, не розголошувати
    її, а також не здійснювати обмін/продаж/публікацію
  </div>
  <h2>Ответственность сторон</h2>
  <div class="text">
    Адміністрація не несе відповідальність за розбіжність очікуваних
    Користувачем і реально отриманих послуг. Адміністрація не несе ніякої
    відповідальності за послуги, що надаються третіми особами
  </div>
  <h2>Заключне Положення</h2>
  <div class="text">
    Дана Угода регулюється чинним законодавством України. Питання, що не були
    розглянуті у даній Угоді, підлягають вирішенню згідно чинного законодавства.
    Всі ймовірні зіткнення інтересів що випливають з даної Угоди, мають
    розглядатися в порядку, передбаченому чинним законодавством. Тимчасова
    бездіяльність зі сторони Адміністрації Сайту не позбавляє права вжити
    відповідних заходів пізніше, а також не означає, що Адміністрація Сайту
    відмовилась від своїх прав у випадку скоєння подібних порушень у подальшому.
    Визнання будь-якого положення Угоди недійсним або не обов'язковим для
    виконання не тягне недійсності інших положень. Усі суперечності що виникли у
    зв'язку з Угодою, підлягають розгляду у суді по місцю розташування
    Адміністрації Сайту відповідно до чинного законодавства України.
  </div>

  <a routerLink="/ua" class="back">
    <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M15.7917 7.4584H4.15625L9.23958 2.37507C9.64583 1.96882 9.64583 1.30215 9.23958 0.895905C8.83333 0.489655 8.17708 0.489655 7.77083 0.895905L0.90625 7.76049C0.5 8.16674 0.5 8.82299 0.90625 9.22924L7.77083 16.0938C8.17708 16.5001 8.83333 16.5001 9.23958 16.0938C9.64583 15.6876 9.64583 15.0313 9.23958 14.6251L4.15625 9.54174H15.7917C16.3646 9.54174 16.8333 9.07299 16.8333 8.50007C16.8333 7.92715 16.3646 7.4584 15.7917 7.4584Z"
        fill="#ffffff"
      />
    </svg>
    На головну</a
  >
  <footer>
    <a href="/ua"><img src="/assets/img/logo.svg" alt="" /></a>
    <div><span>© 2021</span><span>Пользовательское соглашение</span></div>
  </footer>
</div>
