.brief {
  color: white;

  padding-top: 5rem;
  .hide {
    display: none;
  }
  h1 {
    font-size: 1.82rem;
    margin-bottom: 32px;
  }
  p {
    font-size: 1.25rem;
    margin-bottom: 28px;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .border-btm {
    border-bottom: 0.16rem solid #ffffff;
  }
  input[type="text"],
  .pre {
    background-color: #252525 !important;
    border-radius: 0 !important;
    color: white !important;
    font-size: 16px;
    padding: 8px 0;
  }

  .tip {
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: #a3a3a3;
  }
  .content {
    margin-bottom: 2.6rem;
  }
  .line {
    margin-bottom: 1rem;
  }
  .services {
    margin-bottom: 4rem;
  }
  .btn {
    color: white;
    box-sizing: border-box;
    font-size: 16px;
    padding: 13px 40px;
    background: none;
    border-radius: 2.5rem;
    border: 2px solid white;
    margin-right: 1rem;
  }
  .active {
    border-color: #252525;
    background: linear-gradient(90deg, #b042e4 0%, #2d33e4 100%);
  }
  .inputLine {
    margin-bottom: 4.6rem;
    p {
      margin-bottom: 0.6rem;
    }
    input {
      border-bottom: 0.16rem solid #ffffff;
      width: 100%;
    }
  }
  .inputList {
    .pre {
      padding: 8px 8px 8px 0;
    }
    .row {
      display: flex;
      margin-bottom: 2.6rem;
    }
    p {
      margin-bottom: 0.6rem;
    }
    .border-btm {
      display: flex;
      align-items: baseline;
      margin-right: 2rem;
      width: 50%;
    }
    input {
      border: transparent !important;
      &:focus::placeholder {
        color: transparent;
      }
      width: 100%;
    }
  }
  .langs,
  .terms {
    margin-bottom: 2.6rem;
    .row {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      margin-bottom: 1.25rem;
      position: relative;
    }
    input[type="checkbox"] {
      opacity: 0;
    }
    input[type="checkbox"]:checked + span {
      background: white;
    }
    span {
      margin-right: 1.2rem;
      width: 1.3rem;
      height: 1.3rem;
      border: 0.16rem solid #fff;
      border-radius: 50%;
    }
  }
  .send {
    margin-bottom: 3rem;
    margin-top: 3rem;
    .btn {
      background-color: white;
      color: black;
      font-weight: 500;
      font-size: 16px;
      padding: 15px 45px;
      border-radius: 6rem;
      &:hover {
        border-color: #252525;
        background: linear-gradient(
          180deg,
          rgba(158, 0, 255, 0.7) 0%,
          #4cd4ff 100%
        );
      }
    }
  }
}
@media screen and(max-width:856px) {
  .brief {
    padding-left: 0;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 4.2rem;
    }
    input[type="text"],
    .pre {
      font-size: 3.5rem;
    }
    .tip {
      font-size: 2.6rem;
    }
    .btn {
      font-size: 3.2rem;
      padding: 1.8rem 2.9rem;
      border-radius: 3.5rem;
    }
    .langs,
    .terms {
      .row {
        font-size: 3.25rem;
      }
      span {
        width: 3.8rem;
        height: 3.8rem;
      }
    }
    .send {
      .btn {
        font-size: 4.5rem;
        padding: 3.2rem 13rem;
      }
    }
  }
}
