<div class="case">
  <app-nav></app-nav>
  <div class="container">
    <div class="col1 center">
      <div>
        <p>Online store</p>
        <h1>Одна нога здесь, другая - <span>в корзине</span></h1>
        <a routerLink="/brief" class="btn">Заполнить Бриф</a>
      </div>
    </div>
    <div class="col2 end">
      <div>
        <h2>Систематезируйте свои заказы!</h2>
        <p>
          Интреграция необходимого функционала позволит эффективно обрабатывать
          входящие заявки и поддерживать обратную связь с клиентами. Ну а с
          удобным каталогом понравившийся товар можно заказать всего в пару
          кликов.
        </p>
      </div>
    </div>
  </div>
</div>
