@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat_medium.eot");
  src: url("/assets/fonts/montserrat_medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat_medium.woff2") format("woff2"),
    url("/assets/fonts/montserrat_medium.woff") format("woff"),
    url("/assets/fonts/montserrat_medium.ttf") format("ttf"),
    url("/assets/fonts/montserrat_medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat_semibold.eot");
  src: url("/assets/fonts/montserrat_semibold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat_semibold.woff2") format("woff2"),
    url("/assets/fonts/montserrat_semibold.woff") format("woff"),
    url("/assets/fonts/montserrat_semibold.ttf") format("ttf"),
    url("/assets/fonts/montserrat_semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat_bold.eot");
  src: url("/assets/fonts/montserrat_bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/montserrat_bold.woff2") format("woff2"),
    url("/assets/fonts/montserrat_bold.woff") format("woff"),
    url("/assets/fonts/montserrat_bold.ttf") format("ttf"),
    url("/assets/fonts/montserrat_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
