/* You can add global styles to this file, and also import other style files */
@import "styles.fonts.scss";
@import "styles.null.scss";

html {
  scroll-behavior: smooth;
  font-size: 1vw;
}
body {
  background-color: #252525;
  padding: 0;
  color: white;
  font-family: "rubik";
  font-weight: 500;
}
pre {
  font-family: "rubik";
}
.container {
  margin: 0 auto;
  // max-width: 78rem;
  max-width: 62.5rem;
}
a {
  text-decoration: none;
  color: white;
}

section {
  margin-top: 4rem;
  padding-top: 2rem;
  h2 {
    color: white;
    font-size: max(2.5rem, 24px);
    line-height: 140%;
    span {
      color: #4cd4ff;
      font-style: italic;
    }
  }
}
.sectionsbg {
  background-image: url(/assets/img/sectionsbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#what {
  .cards {
    display: flex;
    margin-bottom: 35px;
    justify-content: center;
    a:first-of-type {
      margin-right: 35px;
    }
  }
  a {
    transition: 0.1s;

    &:hover {
      transform: translateY(-15px);
      .card {
        box-shadow: 5px 5px 14px #ffffff;
      }
    }

    .card {
      min-width: 310px;
      width: 100%;
      max-width: 380px;
      display: flex;
      flex-direction: column;
      height: 100%;

      padding: 40px 36px 25px 36px;
      border: 1px solid #ffffff;
      box-sizing: border-box;

      border-radius: 8px;
      color: white;

      h2 {
        margin-bottom: 16px;

        font-size: max(1.25rem, 18px);

        line-height: 130%;
      }
      p {
        font-size: 14px;
        margin-bottom: 36px;

        line-height: 150%;
        font-weight: normal;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        .terms {
          font-weight: 500;

          font-size: max(0.94rem, 12px);

          line-height: 150%;
        }
        .price {
          color: #91f355;
          // font-size: 0.94rem;
          font-size: max(0.94rem, 16px);

          line-height: 150%;
        }
      }
    }
  }
}
#how {
  h2 {
    margin-bottom: 4rem;
  }
  .aos-animate {
    .curtains {
      padding-top: max(5rem, 40px) !important;
    }
  }
  .step:nth-of-type(2),
  .step:nth-of-type(4) {
    .title,
    .description {
      margin-left: 4rem;
    }
  }
  .steps {
    width: 54%;
    margin: 0 auto;
    min-width: 254px;
  }
  .step {
    margin-bottom: 1.8rem;

    .title {
      margin-bottom: 1.4rem;
      display: flex;
      align-items: center;
      h3 {
        font-size: max(1.8rem, 18px);
        margin-right: 15px;
      }
      img {
        width: max(2rem, 22px);
      }
    }
    .description {
      font-size: max(1.1rem, 14px);
      line-height: 130%;
      font-weight: normal;
      margin-bottom: 1rem;
    }
    .right {
      flex-direction: row-reverse;
    }
    .curtains {
      position: absolute;
      height: max(5rem, 40px);
      transition: 3s;
      width: 70px;
      .bg {
        width: 100%;
        height: 100%;
        background: #252525;
      }
    }
    .arrow {
      display: flex;
      img {
        height: max(5rem, 40px);
      }
    }
  }
}
#cases {
  h2 {
    margin-bottom: 6rem;
  }
  .cases {
    display: grid;
    grid-column-gap: 18px;
    column-gap: 130px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, max(280px, 25rem));
    .case {
      margin-bottom: 40px;
      overflow: hidden;
      &:hover {
        a {
          transform: scale(1.05);
        }
      }
      .title {
        font-size: max(1.6rem, 16px);
        margin-bottom: max(1.6rem, 12px);
      }
      .bg1 {
        .block {
          background-color: #6a23e6;
        }
      }
      .bg2 {
        .block {
          background-color: rgb(27 22 128);
        }
      }
      a {
        transition: 0.3s;
        &:hover {
          .block {
            opacity: 1;
          }
        }
        display: block;
        position: relative;
        cursor: pointer;
        img {
          width: 100%;
        }

        .block {
          transition: 0.3s;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .btn {
            font-size: max(1.6rem, 14px);
          }
        }
      }
    }
  }
}
#who {
  .line {
    display: flex;
    .row {
      display: flex;
      flex-direction: column;
      .whoImg {
        width: 100%;
        max-height: 420px;
        transition: 0.3s linear;
      }
      .blueFilter:hover {
        filter: drop-shadow(0 0 60px #3137f8);
      }
      .pinkFilter:hover {
        filter: drop-shadow(0 0 60px #c64cff);
      }

      .info {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        div {
          font-size: max(1.04rem, 16px);
          font-style: normal;
          font-weight: normal;

          line-height: 140%;
        }
        span {
          margin-top: 7px;
          font-size: max(1.04rem, 16px);
          color: #4cd4ff;
        }
      }
    }
  }
}
#form {
  background: linear-gradient(180deg, #9e00ff 0%, #7765ff 47.71%, #4cd4ff 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  form {
    width: max(20rem, 227px);
    display: flex;
    flex-direction: column;
    label {
      font-size: max(1.04rem, 12px);
      margin-bottom: 1rem;
    }
    h3 {
      text-align: center;
      font-size: max(2.3rem, 24px);
      line-height: 130%;
      margin-bottom: 2.5rem;
    }
    input {
      font-size: max(1.24rem, 12px);
      background: none;
      border: max(0.104rem, 1px) solid #fff;
      box-sizing: border-box;
      border-radius: 2.5rem;
      padding: max(1.04rem, 10px) max(1.7rem, 20px);
      margin-bottom: 1.2rem;
      color: white;
      border-radius: 50px;
    }
    input:focus::placeholder {
      color: transparent;
    }
    input::placeholder {
      color: white;
    }
    .mousehold:active {
      color: white;
      background-color: #252525;
    }
    button {
      font-size: max(0.83rem, 12px);
      padding: max(1.2rem, 10px) 0;
      background: #252525;
      border-radius: 50px;
      color: white;
      margin-top: 2rem;
      transition: 0.3s;
      &:hover {
        color: #252525;
        background-color: white;
      }
    }
  }
}
#inst {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: max(6rem, 48px);
  margin-bottom: 30px;
  row-gap: 30px;
  .posts {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 30px;
      margin-bottom: 30px;
      column-gap: 30px;
      a {
        img {
          width: max(17rem, 280px);
        }
      }
    }
  }
  .text {
    max-width: 330px;
    h2 {
      font-size: max(1.875rem, 24px);
      line-height: 124.5%;
      font-style: normal;
      margin-bottom: 26px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      // margin-bottom: 30px;
    }
  }
}
footer {
  .footerLogoImg {
    display: none;
    width: 70px;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 6rem;
    }
    .start {
      justify-content: flex-start;
    }
    .footerLogo {
      height: 14px;
    }
    .terms {
      font-style: normal;
      font-weight: normal;
      font-size: max(0.52rem, 8px);
      line-height: 130%;
      span {
        margin-right: 9px;
      }
    }
    .contact {
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .socials {
      margin-bottom: 50px;
      span {
        a {
          display: inline-block;
          margin-right: 0.5rem;
        }
        a:hover {
          svg {
            fill: #a935f1 !important;
          }
        }
        svg {
          transition: 0.3s;
          fill: white;
          width: 26px;
        }
      }
    }
    .lang {
      a:hover {
        color: #4cd4ff;
      }
    }
    .email {
      margin-bottom: 21px;
      font-style: normal;
      font-weight: 500;
      font-size: max(1.25rem, 12px);
      line-height: 130%;
    }
    .phone {
      font-weight: 500;
      font-size: max(1.25rem, 10px);
      line-height: 130%;
    }
  }
  padding: 2rem 0;
}
.success {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(37, 37, 37, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
  .message {
    max-width: 700px;
    width: 37.5rem;
    background: #252525;
    border: 0.23rem solid #ffffff;
    box-sizing: border-box;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3.5rem;
    .text {
      font-weight: 500;
      font-size: 2rem;
      line-height: 140%;
      text-align: center;
    }
    button {
      cursor: pointer;
      font-size: 1.8rem;
      padding: 1.2rem 6rem;
      background: linear-gradient(
        180deg,
        rgba(158, 0, 255, 0.7) 0%,
        #4cd4ff 100%
      );
      border-radius: 5rem;
      color: white;
      margin-top: 2rem;
    }
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInScale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes granimate {
  0%,
  100% {
    background-position: 0 25%;
  }
  25%,
  75% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
}

@media screen and(max-width:856px) {
  .container {
    max-width: 82rem;
  }
  .success {
    .message {
      width: 80.5rem;
      padding: 6rem 3.5rem;
      .text {
        font-size: 4rem;
      }
      button {
        font-size: 3.8rem;
        padding: 2.2rem 6rem;
      }
    }
  }
}

@media (min-width: 1921px) {
  html {
    font-size: 19.2px;
  }
}
