@font-face {
  font-family: "rubik";
  src: url("/assets/fonts/rubik-regular.eot");
  src: url("/assets/fonts/rubik-regular.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/rubik-regular.svg#rubik-regular") format("svg"),
    url("/assets/fonts/rubik-regular.ttf") format("truetype"),
    url("/assets/fonts/rubik-regular.woff") format("woff"),
    url("/assets/fonts/rubik-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/assets/fonts/rubik-medium.eot");
  src: url("/assets/fonts/rubik-medium.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/rubik-medium.svg#rubik-medium") format("svg"),
    url("/assets/fonts/rubik-medium.ttf") format("truetype"),
    url("/assets/fonts/rubik-medium.woff") format("woff"),
    url("/assets/fonts/rubik-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/assets/fonts/rubik-medium-italic.eot");
  src: url("/assets/fonts/rubik-medium-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/rubik-medium-italic.svg#rubik-medium-italic")
      format("svg"),
    url("/assets/fonts/rubik-medium-italic.ttf") format("truetype"),
    url("/assets/fonts/rubik-medium-italic.woff") format("woff"),
    url("/assets/fonts/rubik-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
