<div class="case">
  <app-nav></app-nav>
  <div class="container">
    <div class="col1">
      <div>
        <p>business site</p>
        <h1>Даже <span>корпорации</span> зла нужен сайт</h1>
      </div>
    </div>
    <div class="col2">
      <div class="fullRow">
        <a routerLink="/brief" class="btn">Заполнить Бриф</a>
      </div>
    </div>
    <div class="col3">
      <div class="fullRow firstRow">
        <h2>
          Основная цель бизнес сайта - это презентация компании в Интернете.
        </h2>
        <p>
          Размещая актуальную информацию, вы привлекаете новых клиентов и
          партнеров, а рассказывая о миссии и целях компании - повышаете доверие
          к себе.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="back">
      <a routerLink="/">
        <svg
          width="9"
          height="16"
          viewBox="0 0 9 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.292893 7.29289C-0.097631 7.68342 -0.097631 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM3 7H1L1 9H3V7Z"
            fill="white"
          />
        </svg>
        <span>На главную</span>
      </a>
    </div>
  </div>
</div>
