<div class="case">
  <app-nav></app-nav>
  <div class="container">
    <div class="col1 center">
      <div>
        <p>business site</p>
        <h1>Даже <span>корпорации</span> - зла нужен сайт</h1>
        <a routerLink="/brief" class="btn">Заполнить Бриф</a>
      </div>
    </div>
    <div class="col2 end">
      <div>
        <h2>
          Основная цель бизнес сайта - это презентация компании в Интернете.
        </h2>
        <p>
          Размещая актуальную информацию, вы привлекаете новых клиентов и
          партнеров, а рассказывая о миссии и целях компании - повышаете доверие
          к себе.
        </p>
      </div>
    </div>
  </div>
</div>
